<div class="calendar">
  <div class="calendar-header">

    <button class="nav-button" (click)="previousMonth()">
      &#9664;
    </button>
    <h2 class="current-month">{{ currentMonth | date: 'MMMM yyyy' }}</h2>
    <button class="nav-button" (click)="nextMonth()">
      &#9654;
    </button>
  </div>

  <div class="calendar-grid">
    <div class="day-name" *ngFor="let day of daysOfWeek">
      {{ day }}
    </div>
    <div
      class="day"
      *ngFor="let day of daysInMonth; let i = index"
      [class.today]="isToday(day)"
      (click)="openEventDetails(day)"
    >
      <div class="day-number">{{ day.getDate() }}</div>
      <div class="events">
        <div class="event" *ngFor="let event of getEventsForDay(day)">
          {{  event.title }}
        </div>
      </div>

    </div>
  </div>
</div>

<app-modal
  [isVisible]="isModalVisible"
  [selectedDate]="selectedDate"
  (closeModal)="closeModal()"
></app-modal>
