<div class="tasks">
  <h2 class="header">Tasks</h2>

  <div class="tasks-container">
      <div>
          <h3 *ngIf="!isTasksListEmpty()">TODO</h3>
          <table class="tasks-table" *ngIf="todoTasks.length > 0">
              <tbody>
                <tr *ngFor="let task of todoTasks; let i = index">
                      <td>
                          <button class="toggle-button" (click)="toggleIsDone(task.id)">
                              <span class="icon-task-not-done"></span>
                          </button>
                      </td>
                      <td>{{ task.description }}</td>
                      <td>
                          <button class="delete-button" (click)="removeTask(task.id)">
                              <span class="icon-trash"></span>
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>

          <p *ngIf="isTodoListEmpty()" class="no-objects-message">Nothing to be done.</p>

          <form (ngSubmit)="confirmCreateTask()" class="create-form" #taskForm="ngForm">
              <input
                  id="description"
                  [(ngModel)]="taskRequest.description"
                  name="description"
                  placeholder="Add new task"
                  required
              />
              <div class="form-buttons">
                  <button class="green-button" type="submit" [disabled]="taskForm.invalid">
                      Confirm
                  </button>
              </div>
          </form>
      </div>

      <div>
          <h3 *ngIf="!isTasksListEmpty()">DONE</h3>
          <table class="tasks-table" *ngIf="doneTasks.length > 0">
              <tbody>
                  <tr *ngFor="let task of doneTasks; let i = index">
                      <td>
                          <button class="toggle-button" (click)="toggleIsDone(task.id)">
                              <span class="icon-task-done"></span>
                          </button>
                      </td>
                      <td class="task-done">{{ task.description }}</td>
                      <td>
                          <button class="delete-button" (click)="removeTask(task.id)">
                              <span class="icon-trash"></span>
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
