<div class="app-container">
    <div class="sidebar">
      <ul class="menu">
        <li class="menu-item">
            <i class="icon-gtm"></i>
        </li>
        <li class="menu-item">
          <button 
            [class.active]="isActive('/events-list')"
            (click)="goToCalendar()">
            <i class="icon-calendar"></i> Calendar
          </button>
        </li>
        <li class="menu-item"> 
          <button 
            [class.active]="isActive('/tasks')"
            (click)="goToTasks()">
            <i class="icon-tasks"></i> Tasks
          </button>
        </li>
        <li class="menu-item"> 
          <button 
            [class.active]="isActive('/daily-task')"
            (click)="goToDailyTask()">
            <i class="icon-daily-tasks"></i> Daily Tasks
          </button>
        </li>
      </ul>
      <ul class="logout-menu">  
        <div *ngIf="isLoggedIn()" class="username-greeting">
          Logged as: {{getUsername()}}
        </div>
        <li class="menu-item"> 
          <button 
            (click)="logout()">
            <i class="icon-logout"></i> Logout
          </button>
        </li>
      </ul>
    </div>
  
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
</div>
  