.app-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 181px; 
    background-color: rgba(18, 51, 185, 0.993);
    height: 100%; 
}

.menu-item button {
    background: rgb(251, 251, 252);
    color: rgb(75, 1, 248);
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 173px;
    font-size: 18px;
    text-align: left;
    margin-left: -36px;
  }
  
.menu-item button:hover {
    background: rgb(63, 130, 253);
}

.menu-item button.active {
    background: rgba(87, 106, 180, 0.993);
    color: white;
    font-weight: bold;
}
  
.menu {
    list-style-type: none;
    margin: 0;
}

.username-greeting {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: -36px;
}
  
.logout-menu {
    list-style-type: none;
    margin-bottom: 12px;
}