.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: rgb(218, 218, 218);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .event-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .event-form input,
  .event-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .event-form textarea {
    height: 100px; 
    resize: none; 
    overflow-y: auto;
  }
  
  .event-form input::placeholder,
  .event-form textarea::placeholder {
    color: #999;
    font-style: italic;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  