<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Add event</h2>

    <form (ngSubmit)="confirmCreateEvent()">
      <label for="title">Title</label>
      <input id="title" [(ngModel)]="eventRequest.title" name="title" required>

      <label for="startTime">Start time</label>
      <input id="startTime" [(ngModel)]="eventRequest.startTime" name="startTime" type="datetime-local" required>

      <label for="endTime">End time</label>
      <input id="endTime" [(ngModel)]="eventRequest.endTime" name="endTime" type="datetime-local" required>

      <button class="close-button" (click)="close()">Close</button>
      <button class="add-event-button" type="submit">Confirm</button>
    </form>
  </div>
</div>
  