<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Add event</h2>

    <form (ngSubmit)="confirmCreateEvent()" class="event-form">
      <input
        id="title"
        [(ngModel)]="eventRequest.title"
        name="title"
        placeholder="Title"
        required
      />
    
      <input
        id="startTime"
        [(ngModel)]="eventRequest.startTime"
        name="startTime"
        type="datetime-local"
        placeholder="Start time"
        required
      />
    
      <input
        id="endTime"
        [(ngModel)]="eventRequest.endTime"
        name="endTime"
        type="datetime-local"
        placeholder="End time"
        required
      />

      <input
        id="description"
        [(ngModel)]="eventRequest.description"
        name="description"
        placeholder="description"
        required
      />
    
      <div class="form-buttons">
        <button class="close-button" type="button" (click)="close()">Close</button>
        <button class="green-button" type="submit">Confirm</button>
      </div>
    </form>
  </div>
</div>
  