<div class="modal-overlay">
  <div class="modal-content">
    <form class="login-form" (ngSubmit)="onLogin()">
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      
      <input 
        id="email" 
        [(ngModel)]="email" 
        name="email" 
        placeholder="Email" 
        required 
      />

      <input 
        id="password" 
        [(ngModel)]="password" 
        name="password" 
        type="password" 
        placeholder="Password" 
        required 
      />

      <div class="form-buttons">
        <button type="submit">Login</button>
        <button (click)="goToRegister()">Go to Registration</button>
      </div>

    </form>
  </div>
</div>
