.app-container {
    display: flex;
    height: 100vh;
}
  
.sidebar {
    width: 180px; 
    background-color: rgb(238, 238, 238);
    height: 100%; 
}

.menu-item button {
    background: rgb(238, 238, 238);
    color: rgb(75, 1, 248);
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 173px;
    font-size: 18px;
    text-align: left;
    margin-left: -40px;
  }
  
.menu-item button:hover {
    background: rgb(200, 200, 200);
}

.menu-item button.active {
    background: rgb(150, 150, 150);
    font-weight: bold;
}

.menu {
    list-style-type: none;
}  